<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico')}}">
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<title>Zeitgeis Eis</title>
<style>

h3 {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h1 id="inspired">{{ date }}</h1>

<div class="table100-head" style="overflow-x:auto;">
<table>
  <tr>
    <th>Lindenhof</th>
    <th>Limburgerhof</th>
  </tr>

  {% for lindenhof,limburgerhof in zipped_list %}
  <tr>
    <td>{{lindenhof}}</td>
    <td>{{limburgerhof}}</td>
  </tr>
  {% endfor %}

</table>
</div>

<br>
<a href="{{ post_url }}" title="Original Post auf Facebook"><h3>Original Post</h3></a>
<p>{{ raw_text }}</p>

</body>
</html>
